//Context

$base-context: 16px;

//Colors Variables 

$text-color: #b8b8b8;
$heading-text-color: #333333;
$background-color: #f2f9fd;
$primary-color: #0089cf;
$accent-color: #ffffff;
$dark-background-color: #000000;
$salmon-color: #fc7070;
$green-color: #83d78c;
$lighter-gray-color: #666666;
$medium-gray-color: #555656;
$darker-gray-color: #262626;
$black-russian: #181819;
$modal-background: rgba(24,24,25,0.9);
$tags-gray-color:#a0a0a0;


